In [7]:
#Q1) Python program to print all odd numbers in a list.
start = int(input('Enter the number:'))
end = int(input('Enter the number:'))
for i in range(start,end + 1):
  if i % 2 != 0:
    print(i)

Enter the number:1
Enter the number:30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [22]:
#Q2) Python program to find the sum of list elements.
sum = 0
List = [5,10,15,20]
for i in range(len(List)):
  sum = sum + List[i]
print('The sum of all list elemnts:',sum)

The sum of all list elemnts: 50

In [28]:
#Q3) Python program to reverse a list in two ways.
Cities = ['Karachi','Lahore','Islamabad','Peshawar','Quetta'] 
Cities[-1:-6:-1] #1st method of reversing the list

['Quetta', 'Peshawar', 'Islamabad', 'Lahore', 'Karachi']

In [31]:
Cities = ['Karachi','Lahore','Islamabad','Peshawar','Quetta']
Cities[4::-1]

['Quetta', 'Peshawar', 'Islamabad', 'Lahore', 'Karachi']

In [49]:
#Q4) Python program to find the top two maximum numbers in a list.
List = [23,36,58,98]
if List[0]>List[1] and List[0]>List[2] and List[0]>List[3]:
  print([0], 'is the maximum number')
elif List[1]>List[0] and List[1]>List[2] and List[1]>List[3]:
  print(List[1], 'is the maximum number')
elif List[2]>List[0] and List[2]>List[1] and List[2]>List[3]:
  print(List[2], 'is the maximum number')
elif List[3]>List[0] and List[3]>List[1] and List[3]>List[2]:
  print(List[3], 'is the maximum number')
List.remove(max(List))
print(max(List), 'is the second highest number')

98 is the maximum number
58 is the second highest number

In [50]:
#Q5) Write a program in Python to find the second highest number in an integer list.
List = [23,36,58,98]
if List[0]>List[1] and List[0]>List[2] and List[0]>List[3]:
  print([0], 'is the maximum number')
elif List[1]>List[0] and List[1]>List[2] and List[1]>List[3]:
  print(List[1], 'is the maximum number')
elif List[2]>List[0] and List[2]>List[1] and List[2]>List[3]:
  print(List[2], 'is the maximum number')
elif List[3]>List[0] and List[3]>List[1] and List[3]>List[2]:
  List.remove(max(List))
print(max(List), 'is the second highest number')

58 is the second highest number

In [34]:
#Q6) Python program to sort characters in descending order.
department = 'Mechanical'
department[9::-1]

'lacinahceM'

In [37]:
#Q7) Python program to remove repeated characters from a string.
a = 'possssible'

TypeError: ignored

In [38]:
#Q8) Python program to check if a given character is a vowel or consonant.
ch = input('Enter character:')
if ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u':
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter character:a
a is a Vowel

In [46]:
#Q9) Python Program to calculate factorial.
num = int(input('Enter number:'))
factorial = 1
for i in range(1,num + 1):
  factorial = factorial*i
print(factorial)

Enter number:5
120

In [47]:
#Q10) Python Program to merge two lists.
cities = ['karachi','Lahore']
cities_new = ['Islamabad','Peshawar']
print(cities + cities_new)

['karachi', 'Lahore', 'Islamabad', 'Peshawar']